body {background-image: url(../imagenes/fondo.jpg );
  background-position: 50% 50%;
  background-attachment: fixed;
  background-size: cover;
  font-size: large}
img{width:270px;height: 480}
h1{color:pink;font-style:italic;text-decoration: underline;text-align: center;}
h3{text-decoration: underline;}
ol{text-align: justify;}
.uno{color: pink}
