body{background-image: url(../imagenes/fondo.jpg);
  background-position: 50% 50% ;
  background-attachment: fixed;
  background-size: cover;
  font-size: 1rem;
  font-family: 'Caveat', cursive;}

header{background-position: top;
    background-image: url(../imagenes/header.png);
    background-repeat: repeat-x;
    margin-left:70px;
    margin-right: 70px;}

    @media (max-width: 380px){
    header {background-color:#FFECEB }
    }

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

@font-face {font-family: "titulo";
  src: url("../fonts/BELL.TTF") format("truestyle")}

h1{color: #29665B;
font-family:"titulo";
font-size: 2rem;
padding-top: 1.5%}

.mochis{width:25%;}

.redes{background-color: #4C5B3E;
  margin-top:30px;
  margin-bottom: 20px}

.redesfooter{background-color:#CD5C5C;
  margin-top:70px;
  margin-bottom: 30px}

.logo{width: 10%;}

.whatsapp{position: fixed;
  bottom: 40px;
  right: 60px;
  width:60px;
  height:60px;}

.uno{color: #CD5C5C}

.casa{height:auto;}

h2{color: #CD5C5C}

nav{background-color:#CD5C5C}

h3{text-decoration: underline;}

ol{text-align: justify;}

main{background-color: #FFECEB;
  padding: 7%;
  margin-left: 3%;
  margin-right: 3%}

footer{background-color:#FFECEB;padding: 2%;}
