header{display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     align-self: center;}

.redes{display: flex;
    flex-wrap: wrap;}

.logo{align-self: center;}

.mochis{display: flex;
align-self: flex-start;}

.videos{display: flex;
flex-flow: column wrap;}


nav{display: flex;
flex-wrap: nowrap;}

footer{display: flex;
     justify-content: space-between;
     flex-wrap:wrap}
