header{display: flex;
     flex-wrap: wrap;
     justify-content: space-between;}

.redes{display: flex;
    flex-wrap: wrap;}

.logo{align-self: flex-start;}



.mochis{display: flex;
align-self: flex-start;}

nav{display: flex;
flex-wrap: nowrap;}

aside{display: flex;
flex-wrap: wrap;}

footer{display: flex;
     justify-content: space-between;
     flex-wrap:wrap}
