body{background-image: url(../imagenes/fondo.jpg );
  background-position: 50% 50%;
  background-attachment: fixed;
  background-size: cover;
  font-size: large}

h1{color: #29665C;
  font-style:faustina;
  text-align: center;}

img{width:270px;height: 130px}

.whatsapp img {position: fixed;
  bottom: 40px;
  right: 60px;
  width:60px;
  height:60px;}

h2{color: #CD5C5C}

h3{text-decoration: underline;}

ol{text-align: justify;}
.uno{color: #CD5C5C}

main{background-color: #FFECEB;
  padding: 70px;
  margin-left: 30px;
  margin-right: 50px}

header{background-position: top;
  background-image: url(../imagenes/header.png);
  background-repeat: repeat-x;
  margin-left: 90px ;
  margin-right: 90px}

  nav{display: flex;}

footer img{width:48px;height:48px;}
